@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
 --basic-white:#ffffff;
 --basic-white-tranparent: rgba(255,255,255, 0.3);
 --basic-light-gray: #eeeeee;
 --basic-mild-gray: #e1e1e1;
 --basic-gray: #666666;
 --basic-dark-gray: #4d4d4d;
 --basic-darker-gray: #444444;
 --basic-dark: #283136;
 --basic-black: #000000;
 --basic-red: #fb565a;
 --basic-darker-red: #e74246;
 --basic-dark-red: #d7373b;
 --basic-green: #00ca74;
 --basic-darker-green: #00bc6c;
 --basic-dark-green: #00aa62;
 --basic-yellow: #efc849;
 --basic-darker-yellow: #eab534;
 --basic-dark-yellow: #e5a722;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-color: var(--basic-light-gray);
}
.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.site-navigation-list,
 .our-feautures-list,
 .our-feautures-buttons,
 .services-list,
 .about-works-list,
 .our-clients-list,
 .social-links {
  list-style: none;
}
.navigation-link a,
.user-navigation a{
  color: var(--basic-black);
}
.main-header-logo img:hover {
  opacity: 0.7;
}
.main-header-logo img:active {
  opacity: 0.3;
}
.navigation-link a:hover,
.user-navigation a:hover{
  color: var(--basic-red);
}
.navigation-link a:active,
.user-navigation a:active{
  color: var(--basic-black);
  opacity: 0.3;
}
.our-features-subject {
  font-size: 55px;
  line-height: 55px;
  text-align: left;
}
.our-features-description {
  color: var(--basic-dark);
  text-align: left;
}
.functional-link {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align:middle;
}
.slider-link:hover {
  background-color: var(--basic-darker-red);
}
.slider-link:active {
  background-color: var(--basic-dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: var(--basic-white-tranparent);
}
.our-features-item {
  background-position: center center;
  background-repeat: no-repeat;
}
.our-features-item:nth-child(1) {
  background-image: url('../img/index-slider-slide1.png');
}
.our-features-item:nth-child(2) {
  background-image: url('../img/index-slider-slide2.png');
}
.our-features-item:nth-child(3) {
  background-image: url('../img/index-slider-slide3.png');
}
.service-item {
  background-position: center center;
  background-repeat: no-repeat;
  text-align: left;
}
.service-item p {
  color: var(--basic-dark);
}
.service-item:nth-child(1) {
  background-image: url('../img/our-features-illustration1.jpg');
}
.service-item:nth-child(2) {
  background-image: url('../img/our-features-illustration2.jpg');
}
.service-item:nth-child(3) {
  background-image: url('../img/our-features-illustration3.jpg');
}
.service-item:nth-child(1) .services-link {
  background-color: var(--basic-red);
}
.service-item:nth-child(1) .services-link:hover {
  background-color: var(--basic-darker-red);
}
.service-item:nth-child(1) .services-link:active {
  background-color: var(--basic-dark-red);
  color: var(--basic-white-tranparent);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.service-item:nth-child(2) .services-link  {
  background-color: var(--basic-green);
}
.service-item:nth-child(2) .services-link:hover {
  background-color: var(--basic-darker-green);
}
.service-item:nth-child(2) .services-link:active {
  background-color: var(--basic-dark-green);
  color: var(--basic-white-tranparent);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.service-item:nth-child(3) .services-link {
  background-color: var(--basic-yellow);
}
.service-item:nth-child(3) .services-link:hover {
  background-color: var(--basic-darker-yellow);
}
.service-item:nth-child(3) .services-link:active {
  background-color: var(--basic-dark-yellow);
  color: var(--basic-white-tranparent);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.about-us {
  background-image: url(../img/nerds-about-img1.png);
  background-position: right center;
  background-repeat: no-repeat;
  text-align: left;
}
.about-location {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-principles {
  color: var(--basic-dark);
}
.about-works {
  color: var(--basic-dark);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.about-works-item p {
  color: var(--basic-dark);
}
.about-numbers {
  font-weight: 700;
  text-transform: uppercase;
}
.about-numbers-list dt{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.about-numbers-list dd{
  line-height: 18px;
  color: var(--basic-dark);
  text-align: left;
}
.about-numbers-list span {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: text-top;
}
.our-clients-list img {
  opacity: 0.2;
}
.our-clients-list img:hover {
  opacity: 1;
}
.our-clients-list img:active {
  opacity: 0.1;
}
.contacts {
  background-image: url(../img/adress-map-background.png);
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 416px;
}
.contact-us {
  background-color: var(--basic-white);
}
.contact-us p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-us p {
  line-height: 18px;
  color: var(--basic-gray);
  text-align: left;
}
.contacts-phone {
  font: inherit;
  color: var(--basic-gray);
}
.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}
.footer-information p {
  line-height: 22px;
  color: var(--basic-darker-gray);
  text-align: left;
}
.feedback-subject {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
}
.feedback-form label {
  line-height: 18px;
  font-weight: 700;
}
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  line-height: 18px;
  color: var(--basic-darker-gray);
  opacity: 0.5;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  font: inherit;
  line-height: 18px;
  opacity: 1;
  color: var(--basic-darker-gray);
}
.feedback-form .invalid-input:invalid {
  font: inherit;
  line-height: 18px;
  color: var(--basic-darker-red);
}
