@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
 --basic-white-100:#ffffff;
 --basic-white-tranparent-300: rgba(255,255,255, 0.3);
 --basic-gray-100: #eeeeee;
 --basic-gray-200: #e1e1e1;
 --basic-gray-300: #dfdfdf;
 --basic-gray-350: #d5d5d5;
 --basic-gray-360: #d7dcde;
 --basic-gray-370: #b4b9bb;
 --basic-gray-400: #666666;
 --basic-gray-500: #4d4d4d;
 --basic-gray-600: #444444;
 --basic-gray-900: #283136;
 --basic-black-900: #000000;
 --basic-black-tranparent-100: rgba(0, 1, 1, 0.1);
 --basic-black-tranparent-300: rgba(0, 0, 0, 0.3);
 --basic-red-500: #fb565a;
 --basic-red-600: #e74246;
 --basic-red-700: #d7373b;
 --basic-green-500: #00ca74;
 --basic-green-600: #00bc6c;
 --basic-green-700: #00aa62;
 --basic-yellow-500: #efc849;
 --basic-yellow-600: #eab534;
 --basic-yellow-700: #e5a722;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-900);
  background-color: var(--basic-white-100);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-header {
  background-color: var(--basic-gray-100);
  padding-top: 49px;
  margin-bottom: 54px;
}
.title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 78px 0 108px;
  padding: 0;
  text-align: center;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header-logo img {
  display: block;
}
.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
.cart-link {
  display: block;
  padding-top: 26px;
  padding-bottom: 10px;
  text-align: end;
}
.main-navigation a {
  color: var(--basic-black-900);
}
.site-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
  justify-content: center;
}
.site-navigation-list a {
  display: block;
  padding-top: 26px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.navigation-item {
  margin: 0 12px;
}
.main-header-logo img:hover {
  opacity: 0.7;
}
.main-header-logo img:active {
  opacity: 0.3;
}
.navigation-item a:hover,
.user-navigation a:hover{
  color: var(--basic-red-500);
}
.navigation-item a:active,
.user-navigation a:active{
  color: var(--basic-black-900);
  opacity: 0.3;
}
.our-feautures-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.our-features-subject {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0px;
}
.our-features-description {
  color: var(--basic-gray-900);
  margin-top: 25px;
  margin-bottom: 0;
  padding-right: 101px;
}
.button {
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white-100);
  background-color: var(--basic-red-500);
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 17px 40px 15px;
}
.our-features-link {
  margin-top: 38px;
  min-width: 240px;
}
.our-features-link:hover {
  background-color: var(--basic-red-600);
}
.our-features-link:active {
  background-color: var(--basic-red-700);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
  color: var(--basic-white-tranparent-300);
}
.our-features-slide {
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 78px;
  min-height: 431px;
  padding-bottom: 80px;
  padding-right: 620px;
  display: none;
}
.our-features-slide-active {
  display: block;
}
.our-features-slide-design {
  background-image: url('../img/index-slider-slide-design.png');
}
.our-features-slide-calculations {
  background-image: url('../img/index-slider-slide-calculations.png');
}
.our-features-slide-workstyle {
  background-image: url('../img/index-slider-slide-workstyle.png');
}
.our-feautures-buttons {
  list-style: none;
  display: none;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.services {
  margin-bottom: 80px;
  margin-top: 26px;
}
.services-list {
  list-style: none;
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}
.services-item {
  background-position: top left;
  background-repeat: no-repeat;
  text-align: left;
  justify-content: space-between;
  padding-top: 146px;
}
.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 25px;
}
.services-item p {
  color: var(--basic-gray-900);
  padding-right: 40px;
  margin-bottom: 32px;
  margin-top: 0;
}
.services-item.web {
  background-image: url('../img/our-features-illustration1.jpg');
}
.services-item.apps {
  background-image: url('../img/our-features-illustration2.jpg');
}
.services-item.presentations {
  background-image: url('../img/our-features-illustration3.jpg');
}
.services-link {
  padding-left: 40px;
  padding-right: 40px;
  align-self: flex-start
}
.services-link:active {
  color: var(--basic-white-tranparent-300);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.web .services-link {
  background-color: var(--basic-red-500);
}
.web .services-link:hover {
  background-color: var(--basic-red-600);
}
.web .services-link:active {
  background-color: var(--basic-red-700);
}
.apps .services-link  {
  background-color: var(--basic-green-500);
}
.apps .services-link:hover {
  background-color: var(--basic-green-600);
}
.apps .services-link:active {
  background-color: var(--basic-green-700);
}
.presentations .services-link {
  background-color: var(--basic-yellow-500);
}
.presentations .services-link:hover {
  background-color: var(--basic-yellow-600);
}
.presentations .services-link:active {
  background-color: var(--basic-yellow-700);
}
.about {
  margin-bottom: 49px;
  margin-top: 39px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.about-words {
  grid-column: span 8;
  margin-top: 32px;
}
.about-numbers {
  grid-column: span 4;
  background-image: url('../img/nerds-about-img1.png');
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 39px;
  padding-top: 208px;
}
.about-numbers-subject {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 31px;
}
.about-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 32px;
  padding-right: 60px;
}
.about-team {
  color: var(--basic-gray-900);
  padding-right: 80px;
  margin-bottom: 40px;
}
.about-works {
  color: var(--basic-gray-900);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.about-works-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 32px;
}
.about-works-item p {
  color: var(--basic-gray-900);
  margin-top: 8px;
  margin-bottom: 24px;
}
.about-numbers-list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 78px auto;
  min-height: 111px;
}
.about-numbers-list dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  grid-row: 1/2;
  margin: 0;
}
.about-numbers-list dd {
  margin: 0;
  line-height: 18px;
  color: var(--basic-gray-900);
}

.about-numbers-list span {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: text-top;
}
.our-clients {
  padding: 0;
  margin-bottom: 80px;
}
.our-clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.our-clients-list a {
  display: flex;
  height: 120px;
}
.our-clients-list img {
  opacity: 0.2;
  margin: auto;
}
.our-clients-list img:hover {
  opacity: 1;
}
.our-clients-list img:active {
  opacity: 0.1;
}
.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 40px;
}
.filter {
  grid-column: 1 / 4;
}
.range-filter {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}
.radio-filter {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  padding-right: 15px;

}
.checkbox-filter {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  padding-right: 15px;
}
.range-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 260px;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.range-filter legend {
  margin-bottom: 48px;
}
.radio-filter legend {
  margin-bottom: 13px;
}
.checkbox-filter legend {
  margin-bottom: 14px;
}
.range-filter input {
  font-family: inherit;
}
.range-filter label,
.range-filter input,
.range-filter ::placeholder {
  line-height: 22px;
  color: var(--basic-gray-900);
}
.range-filter label {
  text-transform: uppercase;
  align-self: center;
  margin-right: 11px;
}
.range-filter input {
  background-color: var(--basic-gray-100);
  text-align: center;
}
.range-filter input:nth-of-type(1),
.range-filter input:nth-of-type(2) {
  height: 80px;
  width: 130px;
  margin-bottom: 14px;
}
.range-filter input:nth-of-type(3),
.range-filter input:nth-of-type(4) {
  height: 38px;
  width: 80px;
  padding: 0;
}
.range-filter input:nth-of-type(3) {
  margin:0;
  margin-right: 33px;
}
.radio-filter label,
.checkbox-filter label {
  line-height: 20px;
  color: var(--basic-gray-900);
}
.checkbox-filter-list,
.radio-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.radio-filter-list li {
  margin-bottom: 15px;
}
.radio-filter-list li:last-child {
  margin-bottom: 0;
}
.checkbox-filter-list li {
  margin-bottom: 16px;
}
.checkbox-filter-list li:last-child {
  margin-bottom: 0;
}
.filter-button {
  color: var(--basic-black-900);
  background-color: var(--basic-gray-100);
  width: 260px;
}
.filter-button:hover {
  background-color: var(--basic-gray-300);
}
.filter-button:active {
  color: var(--basic-black-tranparent-300);
  background-color: var(--basic-gray-350);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
}
.templates-wrapper {
  grid-column: 5 / -1;
}
.sort-container-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.sort-container {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  margin-bottom: 49px;
}
.sort-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 60px;
}
.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-900);
  opacity: 0.3;
}
.sort-list a:hover {
  opacity: 0.6;
}
.sort-list a:focus,
.sort-list a:active {
  opacity: 1;
}
.templates {
  grid-column: 5 / -1;
  grid-row: 2 / -1;
}
.templates-list {
  list-style: none;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: 4fr 4fr;
  column-gap: 40px;
  margin-bottom: 55px;
  row-gap: 70px;
}
.templates-list li {
  width: 358px;
  height: 578px;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}
.templates-list div {
  background-color: var(--basic-gray-100);
  padding: 26px 50px 44px;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.templates-list h3 {
  color: var(--basic-black-900);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}
.templates-list p {
  color: var(--basic-gray-400);
  line-height: 18px;
  margin: 0;
  margin-bottom: 32px;
}
.template-item-button {
  align-self: center;
  min-width: 200px;
}
.template-item-button:hover {
  background-color: var(--basic-red-600);
}
.template-item-button:active {
  background-color: var(--basic-red-700);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.pagination-list li {
  margin-right: 11px;
  margin-bottom: 30px;
}
.pagination-list li:last-child {
  margin-bottom: 60px;
  margin-right: 0;
}
.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black-900);
  background-color: var(--basic-gray-100);
}
.pagination-button {
  padding: 17px 20px 15px;
  width: 50px;
}
.pagination-next-button {
  min-width: 260px;
}
.pagination-item a:hover {
  background-color: var(--basic-gray-300);
}
.pagination-item a:active {
  color: var(--basic-black-tranparent-300);
  background-color: var(--basic-gray-350);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  background-color: var(--basic-white-100);
}
.contacts {
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 75px;
  min-height: 416px;
}
.contacts-wrapper {
  padding-top: 54px;
  padding-bottom: 54px;
}
.contact-us {
  background-color: var(--basic-white-100);
  width: 320px;
  padding: 49px 50px 47px;
}
.contacts-map {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.contact-us a {
  display: block;
}
.contacts-button {
  min-width: 220px;
}
.contact-us p {
  line-height: 18px;
  color: var(--basic-gray-400);
  text-align: left;
  margin: 0;
}
.contact-us p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black-900);
  margin: 0px;
  margin-bottom: 23px;
}
.contact-us p:nth-child(2) {
  margin-bottom: 18px ;
}

.contact-us p:last-child {
  margin-top: 37px;
}
.contacts-phone {
  font-family: inherit;
  color: var(--basic-gray-400);
}
.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.footer-information {
  display: grid;
  margin-bottom: 68px;
  grid-template-columns: 400px 660px;
  grid-template-rows: 81px;
}
.footer-information p {
  line-height: 22px;
  color: var(--basic-gray-600);
  text-align: left;
  margin:0;
  padding-top: 10px;
 }
.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  order: -1;
  display: flex;
  justify-content: flex-start;
}
.feedback-subject {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 37px;
}
.feedback-form {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 40px;
}
 .feedback-field {
   grid-column: span 4;
 }
.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 9px;
}
.feedback-form input,
.feedback-form textarea {
  font-family: inherit;
  line-height: 18px;
  color: var(--basic-gray-600);
  opacity: 0.5;
  border-color: var(--basic-gray-360);
}
.feedback-form input {
  width: 100%;
  height: 50px;
  line-height: 18px;
  padding: 16px;
}
.feedback-form textarea {
  padding: 16px;
  width: 100%;
  height: 118px;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: var(--basic-gray-370);
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  opacity: 1;
  color: var(--basic-gray-600);
  border-color: var(--basic-black-900);
}
.input-invalid {
  color: var(--basic-red-600);
  border-color: var(--basic-red-600);
}
.modal {
  width: 960px;
  height: 590px;
  padding-left: 100px;
  padding-right: 100px;
}
.text-field {
  margin:0;
  margin-top: 0;
  margin-bottom: 34px;
}
.feedback-textarea {
  grid-column: span 8;
  margin-bottom: 40px;
}
.feedback-button {
  margin: 0;
  grid-column: span 3;
}
