@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
:root {
 --basic-white-100:#ffffff;
 --basic-white-tranparent-300: rgba(255,255,255, 0.3);
 --basic-gray-100: #eeeeee;
 --basic-gray-200: #e1e1e1;
 --basic-gray-300: #dfdfdf;
 --basic-gray-350: #d5d5d5;
 --basic-gray-400: #666666;
 --basic-gray-500: #4d4d4d;
 --basic-gray-600: #444444;
 --basic-gray-900: #283136;
 --basic-black-900: #000000;
 --basic-black-tranparent-100: rgba(0, 1, 1, 0.1);
 --basic-black-tranparent-300: rgba(0, 0, 0, 0.3);
 --basic-red-500: #fb565a;
 --basic-red-600: #e74246;
 --basic-red-700: #d7373b;
 --basic-green-500: #00ca74;
 --basic-green-600: #00bc6c;
 --basic-green-700: #00aa62;
 --basic-yellow-500: #efc849;
 --basic-yellow-600: #eab534;
 --basic-yellow-700: #e5a722;
}
body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-900);
  background-color: var(--basic-white-100);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-header {
  background-color: var(--basic-gray-100);
  margin-bottom: 80px;
}
.main-header-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 1160px;
  margin-top: 49px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  outline: 1px solid;
  outline-offset: -1px;
}
.title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header-logo {
  display: grid;
  padding: 0px;
  margin: 0px;
}
.main-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0;
  padding: 0;
  outline: 1px solid;
  outline-offset: -1px;
}
.cart-link {
  display: grid;
  padding-top: 26px;
  justify-content: end;
  outline: 1px solid;
  outline-offset: -1px;
}
.main-navigation a {
  color: var(--basic-black-900);
}
.site-navigation-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  margin-bottom: 0px;
  justify-content: center;
  outline: 1px solid;
  outline-offset: -1px;
}
.navigation-item {
  margin-right: 45px;
}
.navigation-item:first-child {
  margin-left: auto;
}
.navigation-item:last-child {
  margin-right: auto;
}
.main-header-logo img:hover {
  opacity: 0.7;
}
.main-header-logo img:active {
  opacity: 0.3;
}
.navigation-item a:hover,
.user-navigation a:hover{
  color: var(--basic-red-500);
}
.navigation-item a:active,
.user-navigation a:active{
  color: var(--basic-black-900);
  opacity: 0.3;
}
.our-feautures-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.our-features-subject {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0px;
  padding-right: 620px;
  outline: 1px solid;
  outline-offset: -1px;
}
.our-features-description {
  color: var(--basic-gray-900);
  margin-top: 25px;
  padding-right: 741px;
  outline: 1px solid;
  outline-offset: -1px;
}
.button {
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--basic-white-100);
  background-color: var(--basic-red-500);
  border: none;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
}
.our-features-link {
  position: relative;
  top: 38px;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 54px;

}
.our-features-link:hover {
  background-color: var(--basic-red-600);
}
.our-features-link:active {
  background-color: var(--basic-red-700);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
  color: var(--basic-white-tranparent-300);
}
.our-features-slide-1,
.our-features-slide-2,
.our-features-slide-3 {
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 78px;
  width: 1157px;
  min-height: 431px;
  outline: 1px solid;
  outline-offset: -1px;
}
.our-features-slide-1 {
  background-image: url('../img/index-slider-slide1.png');
}
.our-features-slide-2 {
  background-image: url('../img/index-slider-slide2.png');
  display: none;
}
.our-features-slide-3 {
  background-image: url('../img/index-slider-slide3.png');
  display: none;
}
.our-feautures-buttons {
  list-style: none;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid;
  outline-offset: -1px;
}
.services {
  margin: 0;
  margin-bottom: 80px;
}
.services-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  margin: 0;
  padding: 0;
  outline: 1px solid;
  outline-offset: -1px;
}
.services-item {
  display: flex;
  flex-direction: column;
  background-position: top left;
  background-repeat: no-repeat;
  text-align: left;
  justify-content: space-between;
  height: 347px;
  width: 300px;
}
.services-item h3 {
  padding-top: 147px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.services-item p {
  color: var(--basic-gray-900);
  padding-right: 40px;
  margin-top: -30px;
  margin-bottom: 10px;
}
.services-item.web {
  background-image: url('../img/our-features-illustration1.jpg');
}
.services-item.apps {
  background-image: url('../img/our-features-illustration2.jpg');
}
.services-item.presentations {
  background-image: url('../img/our-features-illustration3.jpg');
}
.services-link {
  padding: 17px 40px 15px 39px;
  align-self: flex-start
}
.services-link:active {
  color: var(--basic-white-tranparent-300);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.web .services-link {
  background-color: var(--basic-red-500);
}
.web .services-link:hover {
  background-color: var(--basic-red-600);
}
.web .services-link:active {
  background-color: var(--basic-red-700);
}
.apps .services-link  {
  background-color: var(--basic-green-500);
}
.apps .services-link:hover {
  background-color: var(--basic-green-600);
}
.apps .services-link:active {
  background-color: var(--basic-green-700);
}
.presentations .services-link {
  background-color: var(--basic-yellow-500);
}
.presentations .services-link:hover {
  background-color: var(--basic-yellow-600);
}
.presentations .services-link:active {
  background-color: var(--basic-yellow-700);
}
.about {
  width: 1174px;
  margin: 0;
  margin-bottom: 49px;
  margin-top: 39px;
  padding: 0;
  display: grid;
  grid-template-columns: 8fr 4fr;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-words {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid;
  outline-offset: -1px;
  margin-top: 32px;
}
.about-numbers {
  display: grid;
  width: 412px;
  height: 360px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-image: url('../img/nerds-about-img1.png');
  background-position: 77% 0%;
  background-repeat: no-repeat;
  margin-top: 37px;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-numbers-subject {
  font-weight: 700;
  text-transform: uppercase;
  outline: 1px solid;
  outline-offset: -1px;
  margin-top: 245px;
  grid-column: 1/4;
  text-align: center;
  padding-left: 27px;
}
.about-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 32px;
  outline: 1px solid;
  outline-offset: -1px;
  padding-right: 60px;
}
.about-team {
  color: var(--basic-gray-900);
  padding-right: 60px;
}
.about-works {
  color: var(--basic-gray-900);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-works-list {
  list-style: none;
  margin: 0px;
  padding:0px;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-works-item p {
  color: var(--basic-gray-900);
  margin-top: 8px;
  margin-bottom: 24px;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-numbers-list {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto auto;
  grid-column-gap: auto ;
  max-width: 360px;
}
.about-numbers-list dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  outline: 1px solid;
  outline-offset: -1px;
  grid-row: 1/2;
  margin:0;
  padding: 0;
  margin-top: 15px;
  margin-left: 40px;
}
.about-numbers-list dd {
  line-height: 18px;
  color: var(--basic-gray-900);
  margin-top: 11px;
  margin-left: 40px;
  outline: 1px solid;
  outline-offset: -1px;
}
.about-numbers-list :last-child {
margin-right: -10px;
}
.about-numbers-list span {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  top: -15px;
}
.our-clients {
  width: 1159px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}
.our-clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  outline: 1px solid;
  outline-offset: -1px;
  align-items: center;
  min-height: 184px;
}
.our-clients-list li:first-child {
  margin-left: 32px;
  margin-right: 95px;
}
.our-clients-list li:last-child {
  margin-right: 42px;
  margin-left: 120px;
}
.our-clients-list li:nth-child(2) {
  margin-right: auto;
}
.our-clients-list li:nth-child(3) {
  margin-left: auto;
}
.our-clients-list img {
  opacity: 0.2;
}
.our-clients-list img:hover {
  opacity: 1;
}
.our-clients-list img:active {
  opacity: 0.1;
}
.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkbox-filter-list,
.radio-filter-list {
  list-style: none;
}
.range-filter input {
  font-family: inherit;
}
.range-filter label,
.range-filter input,
.range-filter ::placeholder {
  line-height: 22px;
  color: var(--basic-gray-900);
}
.range-filter label {
  text-transform: uppercase;
}
.range-filter input {
  background-color: var(--basic-gray-100);
}
.radio-filter label,
.checkbox-filter label {
  line-height: 20px;
  color: var(--basic-gray-900);
}
.filter-button {
  color: var(--basic-black-900);
  background-color: var(--basic-gray-100);
}
.filter-button:hover {
  background-color: var(--basic-gray-300);
}
.filter-button:active {
  color: var(--basic-black-tranparent-300);
  background-color: var(--basic-gray-350);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
}
.sort-container-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.sort-list {
  list-style: none;
}
.sort-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-900);
  opacity: 0.3;
}
.sort-list a:hover {
  opacity: 0.6;
}
.sort-list a:focus,
.sort-list a:active {
  opacity: 1;
}
.templates-list {
  list-style: none;
}
.templates-list li {
  background-color: var(--basic-gray-100);
}
.templates-list h3 {
  color: var(--basic-black-900);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.templates-list p {
  color: var(--basic-gray-400);
  line-height: 18px;
}
.template-item-button:hover {
  background-color: var(--basic-red-600);
}
.template-item-button:active {
  background-color: var(--basic-red-700);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination-list {
  list-style: none;
}
.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black-900);
  background-color: var(--basic-gray-100);
}
.pagination-item a:hover {
  background-color: var(--basic-gray-300);
}
.pagination-item a:active {
  color: var(--basic-black-tranparent-300);
  background-color: var(--basic-gray-350);
  box-shadow: inset 0px 3px 0px var(--basic-black-tranparent-100);
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  background-color: var(--basic-white-100);
}
.contacts {
  background-image: url('../img/adress-map-background.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1440px;
  min-height: 416px;
  margin: 0 auto;
  margin-left: -140px;
  margin-bottom: 68px;
  padding: 0;
  outline: 1px solid;
  outline-offset: -1px;
 }
.contact-us {
  background-color: var(--basic-white-100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 319px;
  height: 308px;
  margin-left: 140px;
  padding-left: 50px;
  position: relative;
  top: 54px;
  outline: 1px solid;
  outline-offset: -1px;
}
.contact-us a {
  display: block;
}
.contacts-button {
  padding:  17px 44px 15px 44px;
}
.contact-us p {
  line-height: 18px;
  color: var(--basic-gray-400);
  text-align: left;
  margin: 0;
}
.contact-us p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black-900);
  margin: 0px;
  margin-top: 49px;
  margin-bottom: 23px;
}
.contact-us p:nth-child(2) {
  margin-bottom: 18px ;
}

.contact-us p:last-child {
  margin-bottom: 47px;
  margin-top: 37px;
}
.contacts-phone {
  font-family: inherit;
  color: var(--basic-gray-400);
}
.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-top: 7px;
}
.footer-information {
  display: grid;
  margin-bottom: 68px;
  grid-template-columns: 400px 660px;
  grid-template-rows: 81px;
  outline: 1px solid;
  outline-offset: -1px;
}
.footer-information p {
  line-height: 22px;
  color: var(--basic-gray-600);
  text-align: left;
  margin:0;
  padding-top: 10px;
 }
.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  order: -1;
  display: flex;
  justify-content: flex-start;
  outline: 1px solid;
  outline-offset: -1px;
}
.footer-text {
  outline: 1px solid;
  outline-offset: -1px;
}
.feedback-subject {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 36px;
  outline: 1px solid;
  outline-offset: -1px;
}
.feedback-form {
  margin: 0;
  padding: 0;
  outline: 1px solid;
  outline-offset: -1px;
}
.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 9px;
}
.feedback-form label:last-of-type {
  margin-top: 34px;
}
.feedback-form input
.feedback-form textarea {
  font-family: inherit;
  line-height: 18px;
  color: var(--basic-gray-600);
  opacity: 0.5;
}
.feedback-form input {
  width: 360px;
  height: 50px;
  padding: 16px 14px 16px 16px;
}
.feedback-form textarea {
  width: 760px;
  height: 118px;
  padding: 16px 414px 84px 16px;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  line-height: 18px;
  opacity: 1;
  color: var(--basic-gray-600);
}
.feedback-form .input-validity-check:invalid {
  line-height: 18px;
  color: var(--basic-red-600);
}
.feedback-input-block {
  display: flex;
  flex-wrap: wrap;
  width: 761px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: flex-start;
  outline: 1px solid;
  outline-offset: -1px;
}
.feedback-input-block p {
  margin: 0px;
}
.modal {
  width: 960 px;
  height: 590 px;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  outline: 1px solid;
  outline-offset: -1px;
}
.modal-name {
  outline: 1px solid;
  outline-offset: -1px;
}
.modal-email {
  outline: 1px solid;
  outline-offset: -1px;
}
.modal-textarea {
  outline: 1px solid;
  outline-offset: -1px;
}
.submit-button {
  padding: 17px 83px 15px 83px;
  margin-top: 20px;
}
